@{
    ViewData["Title"] = "Home Page";
}

<div class="hello_horizon">
    <div class="hello">
        <h2>Подготовься к ЕГЭ и достигни максимальных результатов вместе с нами!</h2>
        <a> Наш сайт предлагает полный комплекс информации, материалов и поддержки для успешной подготовки к экзаменам ЕГЭ.</a>
    </div>

     <div class="hello_img" >
        @*<h2>"Подготовься к ЕГЭ и достигни максимальных результатов вместе с нами!"</h2>*@
    </div>

</div>



